.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar-container{
  background-color: white !important;
  
}
.navbar-items li a{
  color:  black !important;
  text-decoration: none;
}
.about-info{
  display: flex;
  justify-content:center ;
  text-align: center;

}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.about-count-colm{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ff7c00, #290a59) 1 100%;
  border-right: none;
}
@media (min-width: 992px){
.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;}
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.about-count-colm {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7c00), to(#290a59)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#ff7c00, #290a59) 1 100%;
  -moz-border-image: -moz-linear-gradient(#ff7c00, #290a59) 1 100%;
  -o-border-image: -o-linear-gradient(#ff7c00, #290a59) 1 100%;
  border-image: linear-gradient(to bottom, #ff7c00, #290a59) 1 100%;
  border-right: none;
}
.about-intro {
  margin-top: 50px;
}
@media (min-width: 992px){
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;}
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.about-intro-colm p {
  margin-bottom: 25px;
}
@media (min-width: 1200px){
.offset-xl-2 {
    margin-left: 16.666667%;}
}
.welcome-word h3 {
  color: #ce1017;
  text-align: center;
  font-weight: 700;
  margin: 25px 0px 35px 0px;
}
@media (max-width: 1500px){
h3 {
    font-size: 1.563rem;
    line-height: 1.875rem;
    max-width: 100%;
  }
}

@media (min-width: 1200px){
.offset-xl-2 {
    margin-left: 16.666667%;}
}
@media (min-width: 1200px){
.col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;}
}

div{
  display: block;
}

#subscribe-footer-id{
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  
}
@media (min-width: 1200px){
.container {
    max-width: 1170px;}
}
.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.quick-link ul .main-link {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.footer-colm ul li {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.footer-colm.quick-link ul:first-child {
  width: 25%;
}
.quick-link ul {
  /* width: 50%; */
  float: left;

}
ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  color: #000;
  max-width: 1520px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.fadeInUpShort{
  animation-name:fadeInUpshort ;
}
.animated{
  animation-fill-mode: both;
  animation-duration: 1s;
}


@keyframes fadeInDown {
  0% {
     
      opacity: 0;
     transform: translateY(100px);
  }
  100% {
    opacity: 1;
     transform: translateY(0);
  }
} 
@keyframes fadeInUp {
  0% {
     
      opacity: 0;
     transform: translateY(0px);
  }
  100% {
    opacity: 1;
     transform: translateY(200px);
  }
} 
